@model ProductDetailVM

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="container my-5">
    <div class="card">
        <div class="card-header">
            Product detail
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        MainImage
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Discounted Price
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Discount
                    </th>
                    <th>
                        Category
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img src="~/assets/img/product/@Model.MainImage" alt="Alternate Text" />
                    </td>
                    <td>
                        @Model.Title
                    </td>
                    <td>
                        @Model.Description
                    </td>
                    <td>
                        $@((Model.Price-((Model.Price/100)* Model.ProductDiscount)).ToString("##.00"))
                    </td>
                    <td>
                        @Model.Price
                    </td>
                    <td>
                        @Model.ProductDiscount
                    </td>
                    <td>
                        @Model.CategoryName
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <a asp-controller="Product" asp-action="Index" class="btn btn-primary my-3">Back</a>
</div>